body {
	overflow-x: initial;
}


.products-type {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.products-type .type-item {
    margin-right: 5px;
	margin-bottom: 10px;
}
.products-type .type-item a{
    display: inline-block;
    min-width: 130px;
    padding: 5px 20px;

    background: #dcdcdc;
    color: #252a2b;
    
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.products-type .type-item a:hover,
.products-type .type-item a.active {
    background: #ef3634;
    color: white;
    font-weight: bold;
}
.gallery-products .products-item .products-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(128 128 128 / 20%);
}

/* Calculation */
.calculation {
    text-align: center;
    margin:0 0 15px 0 ;
}

/* gallery product */
.gallery-products .item {
    margin-bottom: 30px;
}
.gallery-products .products-item {
    transition: all 0.3s;
}
.gallery-products .products-item:hover {
    -webkit-box-shadow: 0 0 2px 0px #ccc;
}
.gallery-products .products-item .products-img {
    cursor: pointer;
    position: relative;
}
.gallery-products .products-item .products-img img{
    display: block;
    width: 100%;
}
.gallery-products .products-item .products-img .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.gallery-products .products-item .products-img:hover .img-hover {
    z-index: 1;
}
.gallery-products .variant-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 1px;

    border-radius: 100%;
    cursor: pointer;
}
.gallery-products .variant-item.active,
.gallery-products .variant-item:hover {
    border: 1px solid black;
}
.gallery-products .products-variant {
    text-align: center;
    margin-top: 10px;
}
.gallery-products .variant-item img {
    display: inline-block;
    width: 100%;
    border-radius: 100%;
}
.gallery-products .variant-item span {
    display: block;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 100%;
}
.products-desc { 
    text-align: center;
    padding: 10px;
}
.products-desc .title{
    line-height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    margin-bottom: 0;
}
.products-desc .price {
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.showMore {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    margin: 30px auto;
    height: 160px;
    
    position: relative;
    cursor: pointer;
}

.showMore .down-arrow {
    display: block;
	width: 40px;
    height: 40px;
	
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.showMore .down-arrow::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
	
    border: 3px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
	
    position: absolute;
    top: 0;
    transform: rotate( 45deg ) ;
}
.showMore .down-arrow::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;

    border: 3px solid black;
    border-left-color: transparent;
    border-top-color: transparent;

    position: absolute;
    top: 0;
    transform: rotate( 45deg ) translate(10px, 10px);
}
.showMore button {
    display: block;
    padding: 12px 50px;
    
    font-size: 14px;
    text-decoration: none;
    outline: none;
    text-align: center;
    
    background: #f2f2f2;
    color: #252a2b;
    transition: all 0.3s;
	border: none;
	outline: none;
}

.showMore button:hover { 
    background: #000000;
    color: white;
}

.set-items {
	position: sticky;
    top: 0px;
    z-index: 99;
}

.set-items .item_big {
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.set-items .item_big .nav-item {
	flex: 1 1 20%;
    text-align: center;
}

.set-items .item_big .nav-item .a-img {
    display: block;
    padding: 10px 0;
	
    background: white;
    font-size: 20px;
    color: black;
    border-bottom: 3px solid #dcdcdc;
}
.set-items .item_big .nav-item.active .a-img {
    display: block;
	
    background: white;
    color: #ef3634;
    border-bottom: 3px solid #ef3634;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
	.set-items .item_big .nav-item .a-img {
		font-size: 16px;
	}
}